<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon"></div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px">
          <figure>
            <img
              src="images/Alumnos/Registrar.jpg"
              class="img-responsive"
              alt=""
              data-toggle="modal"
              data-target="#modalRegistroAlumno"
            />
          </figure>
          <h3 data-toggle="modal" data-target="#modalRegistroAlumno">Altas</h3>
          <p>Registrar alumnos</p>
          <ul class="follow-us clearfix"></ul>
        </div>
      </li>

      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px">
          <figure>
            <img
              src="images/Alumnos/Eliminar.jpg"
              class="img-responsive"
              alt=""
              data-toggle="modal"
              data-target="#modalEliminarAlumno"
            />
          </figure>
          <h3 data-toggle="modal" data-target="#modalEliminarAlumno">Baja</h3>
          <p>Eliminar alumnos de sistema</p>
          <ul class="follow-us clearfix"></ul>
        </div>
      </li>

      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px">
          <figure>
            <img
              src="images/Alumnos/Modificar.jpg"
              class="img-responsive"
              alt=""
              data-toggle="modal" data-target="#modalEditarAlumno"
            />
          </figure>
          <h3 data-toggle="modal" data-target="#modalEditarAlumno">Modificación</h3>
          <p>Modifica información de un alumno</p>
          <ul class="follow-us clearfix"></ul>
        </div>
      </li>
    </ul>
  </div>
</section>
