<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gemak Control</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include ('./Partials/librerias.html') %>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="css/util.css">-->
    <link rel="stylesheet" type="text/css" href="css/cards.css" />
    <!--===============================================================================================-->
  </head>

  <body>
    <div class="p-1 mb-1 bg-light text-dark">
      <%- include ('./Partials/menuNavegacion.html')%>
    </div>

    <style>
      body {
        background-image: url("images/wall.jpg");

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      }

      body::before {
        content: "";
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgb(3, 1, 94), rgb(255, 0, 0));
        opacity: 0.3;
        z-index: -1;
      }
    </style>

    <section class="our-webcoderskull padding-lg">
      <div class="container">
        <div class="row heading heading-icon"></div>
        <ul class="row">
          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px">
              <figure>
                <a href="/MenuAlumnos"
                  ><img
                    src="images/Alumnos.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </a>
              </figure>
              <h3><a href="/MenuAlumnos">Alumnos</a></h3>
              <p>Control de alumnos</p>
              <ul class="follow-us clearfix"></ul>
            </div>
          </li>

          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px">
              <figure>
                <a href="/wh_ProdNuevo"
                  ><img src="images/Maestros.jpg" class="img-responsive" alt=""
                /></a>
              </figure>
              <h3><a href="/wh_ProdNuevo">Maestros</a></h3>
              <p>Control de maestros</p>
              <ul class="follow-us clearfix"></ul>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px">
              <figure>
                <a href="/wh_Editar"
                  ><img src="images/Ventas.jpg" class="img-responsive" alt=""
                /></a>
              </figure>
              <h3><a href="/wh_Editar">Ventas</a></h3>
              <p>Administración de ventas</p>
              <ul class="follow-us clearfix"></ul>
            </div>
          </li>

          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px">
              <figure>
                <a href="/AjusteInventario"
                  ><img src="images/Reportes.jpg" class="img-responsive" alt=""
                /></a>
              </figure>
              <h3><a href="/AjusteInventario">Reportes</a></h3>
              <p>Ajustes de inventario</p>
              <ul class="follow-us clearfix"></ul>
            </div>
          </li>




 
        </ul>
      </div>
    </section>
  </body>
</html>
