<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        GEMAK
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ('partials/head.html') %>
    <!------incluir cabezera navegacion----->

    

    <!--<link rel="icon" type="image/ico" href="/src/public/icon/Gemak.ico" />-->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="p-2 mb-1 bg-light text-dark">
        <%- include ('partials/navegacion.html') %>
    </div>

 <h1>h1</h1>
 <h2>h2</h2>
 

<!--     <script>
        localStorage.clear();
        // Guardar datos al almacenamiento local actual
        localStorage.setItem("usuario", document.getElementById("Sp_Usuario").innerHTML);
        localStorage.setItem("Area", document.getElementById("SP_Area").innerHTML);
        localStorage.setItem("PlantaGeneral", document.getElementById("SP_Planta").innerHTML);
        localStorage.setItem("Nombre", document.getElementById("SP_Nombre").innerHTML);
  
    </script>
  -->
 
   
</body>

</html>