<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gemak Control</title>

    <!--=========================================== cabezera====================================================-->
    <%- include ('../partials/head.html') %>
        <!--===============================================================================================-->
        <!-- <script type="text/javascript" src="js/Herramientas/Etiquetas.js"></script> -->

</head>

<body class="bg-railway-900">
    <%- include ('../partials/navbar.html')%>

       




</body>

</html>