<!DOCTYPE html>
<html lang="es">
<head>
	<title>Gemak Control</title>
 
<!--=========================================== cabezera====================================================-->
<%- include ('../partials/head.html') %>  
<!--===============================================================================================-->
  <script type="text/javascript" src="js/Admin/Login.js"></script>  
  
</head>
<body class="bg-slate-900">

    <div class="container mx-auto  w-1/4"><!-- container -->

        <div class="my-52 bg-slate-800 shadow-lg shadow-indigo-500/100 text-center rounded-lg"> <!-- card -->

            <h1 class="p-6 text-2xl font-bold  text-gray-400">Inicio</h1>
             
            <div class="flex flex-col gap-6 gap-x-3"><!-- Form --> 
                <input class="shadow appearance-none border rounded mx-1 sm:mx-2 md:mx-8 lg:mx-16 xl:mx-24 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center" type="text" placeholder="Usuario" name="Usuario" id="Usuario" value="ss">
                <input class="shadow appearance-none border rounded mx-1 sm:mx-2 md:mx-8 lg:mx-16 xl:mx-24 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center" type="password" placeholder="Contraseña" id="Contrasena"> 

                <button class="bg-indigo-900 hover:bg-indigo-700 text-white font-bold  mb-4  mx-1 sm:mx-1 md:mx-10 lg:mx-20 xl:mx-28 rounded" onclick="Login()">Aceptar</button>
            </div>
        </div>
  
    </div>
 

 

</body>
</html>